{% extends 'app/base.html.twig' %}

{% block page_content %}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Dashboard Almacén<small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="busquedaSem">
          <label class="control-label">
            Filtros:</label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" id="chktodos" class="fill custom-control-input form-control-sm fs" value="">
            <label class="custom-control-label" for="chktodos">Todos</label>
            <input type="checkbox" id="customRadioInline1" name="filtros[]" class="fill custom-control-input form-control-sm fs" value="Activado">
            <label class="custom-control-label" for="customRadioInline1">Activado</label>
            <input type="checkbox" id="customRadioInline2" name="filtros[]" class="fill custom-control-input form-control-sm fs" value="En Proceso">
            <label class="custom-control-label" for="customRadioInline2">En Proceso</label>
            <input type="checkbox" id="customRadioInline2" name="filtros[]" class="fill custom-control-input form-control-sm fs" value="En área de Facturación">
            <label class="custom-control-label" for="customRadioInline2">En área de Facturación</label>
            <input type="checkbox" id="customRadioInline3" name="filtros[]" class="fill custom-control-input form-control-sm fs" value="Completado">
            <label class="custom-control-label" for="customRadioInline3">Completado</label>
            <input type="checkbox" id="customRadioInline4" name="filtros[]" class="fill custom-control-input form-control-sm fs" value="Facturado">
            <label class="custom-control-label" for="customRadioInline3">Facturado</label>
            <input type="checkbox" id="customRadioInline5" name="filtros[]" class="fill custom-control-input form-control-sm fs" value="Cancelado">
            <label class="custom-control-label" for="customRadioInline3">Cancelado</label>
            <input type="checkbox" id="customRadioInline6" name="filtros2[]" class="fill custom-control-input form-control-sm fs" value="En horario">
            <label class="custom-control-label" for="customRadioInline3">En horario</label>
            <input type="checkbox" id="customRadioInline7" name="filtros2[]" class="fill custom-control-input form-control-sm fs" value="Fuera de horario">
            <label class="custom-control-label" for="customRadioInline3">Fuera de horario</label>
            <input type="checkbox" id="customRadioInline6" name="filtros3[]" class="fill custom-control-input form-control-sm fs" value="Si">
            <label class="custom-control-label" for="customRadioInline3">Entrega Completa</label>
          </div>
        </div>
        <table id="datatable-picking" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>Orden de Venta</th>
            <th>Picking</th>
			      <th>No. Lineas</th>
            <th>Pickeador</th>
            <th>Creado Por</th>
            <th>Entrega</th>
            <th>Factura</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Hora Picking</th>
            <th>Hora Fin Picking</th>
            <th>Entrega Comp.</th>
            <th>Estatus</th>
          </tr>
          </thead>
          <tbody></tbody>
		  <tfoot>
			<tr>
                <th>""</th>
				<th>Picking</th>
				<th>No. Lineas</th>
				<th>""</th>
				<th>""</th>
				<th>""</th>
                <th>""</th>
				<th>""</th>
				<th>""</th>
				<th>""</th>
				<th>""</th>
				<th>""</th>
				<th>""</th>
				<th>""</th>
            </tr>
		  </tfoot>
        </table>


      </div>
    </div>
  </div>

{%  endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
    $(document).ready(function () {
       llenarTabla();
    });

    function llenarTabla() {
      $("#datatable-picking").DataTable({
        "language": {
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ entradas totales)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        },
        "ajax": '{{ path('dashboard_get_data') }}',
        "columns": [
          { 'data': 'ordVenta' },
          { 'data': 'picking' },
          { 'data': 'numLineas' },
          { 'data': 'pickeador' },
          { 'data': 'creadoPor' },
          { 'data': 'entrega' },
          { 'data': 'factura' },
          { 'data': 'fecha' },
          { 'data': 'hora' },
          { 'data': 'horaPicking' },
          { 'data': 'horaCierre' },
          { 'data': 'entregaComp' },
          { 'data': 'descStatus' },
          { 'data': 'horario' },
        ],
        "order": [[0,'desc']],
        "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
        "aoColumnDefs": [
          {
            "aTargets": [12],
            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
              let backColor = '';
              let fontColor = '';
              switch (sData) {
                case 'Activado':
                  backColor = 'red';
                  fontColor = 'white';
                  break;
                case 'En Proceso':
                  backColor = 'blue';
                  fontColor = 'white';
                  break;
                case 'En área de Facturación':
                  backColor = 'orange';
                  fontColor = 'white';
                  break;
                case 'Completado':
                  backColor = 'yellow';
                  fontColor = 'black';
                  break;
                case 'Facturado':
                  backColor = 'green';
                  fontColor = 'white';
                  break;
                case 'Cancelado':
                  backColor = 'black';
                  fontColor = 'white';
                  break;
              }

              $(nTd).css('background',backColor);
              $(nTd).css('color', fontColor);
            },
          },
          {
            "aTargets": [13],
            "visible": false
          }
        ],
        "dom": 'Blfrtip',
        "buttons": [{
          "extend": 'excelHtml5',
          "footer": true,
          customize: function(xlsx) {
            var sheet = xlsx.xl.worksheets['pickings.xml'];
          }
        }],
		"footerCallback": function(tfoot, data){
			let api = this.api();
			let sum = 0;
			let formated = 0;
			$(api.column(2).footer()).html('Total');
			
			let intVal = function(i){
				return typeof i === 'string' ? 
					i.replace(/[\$,]/g, '')*1 :
					typeof i === 'number' ? i : 0;
			}
			
			//sumOrd = api.column(1).sumI();
			
			sum = api.column(2).data().reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
			
			$(api.column(1).footer()).html('Total: ' + data.length);
			$(api.column(2).footer()).html('Total: '+ sum);
		}
      });
    }

    setInterval(function () {
      $("#datatable-picking").DataTable().ajax.reload(null, false);

    }, 360000);

    $("#chktodos").change(function () {
      location.reload();
    });

    function filtrarTabla(selector, columnIndex) {
      $(selector).click(function () {
        var arr = $(selector + ':checked').map(function () {
          return this.value;
        }).get();

        var seleccionados = '"' + arr.join('|') + '"';
        $("#datatable-picking").DataTable().column(columnIndex).search(seleccionados, true).draw();
      });
    }

    filtrarTabla('[name="filtros[]"]', 12);
    filtrarTabla('[name="filtros2[]"]', 13);
    filtrarTabla('[name="filtros3[]"]', 11);

  </script>

  <!-- Datatables -->
  <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ asset('assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ asset('assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>

  <!-- Custom  theme script -->
  <script src="{{ asset('assets/js/custom.js') }}" ></script>
{% endblock %}
